/* @import url('fonts/css/array.css'); */
@import url('fonts/clash-grotesk.css');

/* 
@font-face {
  font-family: 'Array-Semibold';
  src: url('fonts/Array/Array-Semibold.woff2') format('woff2'),
       url('fonts/Array/Array-Semibold.woff') format('woff'),
       url('fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('fonts/Array/Array-Bold.woff2') format('woff2'),
       url('fonts/Array/Array-Bold.woff') format('woff'),
       url('fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
} */

@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


:root{
    --bg-color: rgb(240, 240, 240);
  --fg-color: rgb(0, 0, 0);
  --pink:rgba(255, 169, 215, 0.2);
  --red:rgba(255, 79, 79, 0.3);
  --dark-blue:rgb(63, 79, 255, 0.3);
  --blue:rgb(79, 175, 230, 0.3);
  --yellow:rgba(255, 251, 0, 0.3);
  --purple:rgba(52, 95, 149, 0.3);

  --pink-strong:rgba(255, 169, 215, 0.7);
  --red-strong:rgba(255, 79, 79, 0.7);
  --dark-blue-strong:rgb(63, 79, 255, 0.7);
  --blue-strong:rgb(79, 175, 230, 0.7);
  --yellow-strong:rgba(255, 251, 0);
  --purple-strong:rgba(52, 95, 149, 0.5);

    font-size: 110%;
    background-color: rgb(240, 240, 240);
    --left:3rem;

}

@media (width > 600px) {
    :root {
        font-size: 125%;
    }
}


header {
      background-position: center;
    background-size: cover;
    background-position-y: 90%;
  /* background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 4rem; */
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 50%;
  }
}




h1 {
  font-family: 'ClashGrotesk-Semibold';
  color:whitesmoke;
  font-size: 3.2rem;
  letter-spacing: -0.03em;
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 8rem;
}

@media (width>600px) {
  h1{
  font-size: 5rem;
  max-width: 75%;
  padding-inline: 2rem;
  }
}


.nav{
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size:.9rem;
  display: grid;
  text-decoration: underline white;
  background: rgb(0, 0, 0,0.4);
  padding: 1rem;
  gap: .4rem; 
  list-style: none;
  backdrop-filter: blur(0.3rem);
  
}

@media (width>600px){
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: sticky; 
  top: 0;  
}
}

.nav a {
  color: rgb(220, 222, 227);
  padding-block: 1rem;
}

.nav a:hover {
  color: rgb(135, 244, 242);
  text-decoration: underline rgb(135, 244, 242);
}


.data{
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: .8rem;
  display: grid;
  padding-left:1.5rem;
  padding-block: 1.5rem;
  margin-bottom: -1rem;
  letter-spacing: .04em; 
  line-height: 1.5rem;
  list-style: none;
}


@media (width>600px){
  .data{
  font-size: 1rem;
  display: flex;
  gap: 1.5rem;
  padding-left:var(--left);
}
}


.written{
  opacity: 50%;
  padding-right: .2rem;
}

h2{
  font-family:'ClashGrotesk-Semibold', sans-serif;
  color:#000000;
  font-size: 2.2rem;
  margin-top: 6rem;
  padding-left: 1.4rem;
}


.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .7rem;
    margin-top: .5rem;
    display: block;
}

p {
    font-family:'ClashGrotesk-Regular', sans-serif;
    color:#444444 ;
    margin-inline: 1.3rem;
    margin-block: 2rem;
    line-height: 1.5rem;
    letter-spacing: .03em; 
}

@media (width>600px) {
  p{
    font-size: 1rem;
    margin-block: 2rem;
    max-width: 60ch;
    line-height: 1.7rem;
    padding-left:calc(var(--left)*2);
  }
}


blockquote {
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  margin:var(--left);
  padding-block: .3rem;
}

@media (width>600px){
  blockquote{
    max-width: 30ch;
    margin-block: 2rem;
  }
}

.quote {
  font-size:1.5rem;
  color: whitesmoke;
  line-height: 1.8rem;
}


.article-layout {
  display: grid;
  gap: 3rem;
  align-items: center;
}

@media (Width>600px){
.article-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  gap: 3rem;
}
}


/* related articles */
.related {
  width: 22rem;
  margin-left: auto; 
}

h3 {
  font-family: 'ClashGrotesk-Semibold';
  font-size: 2rem;
  color:(var(--fg-color));
  margin-bottom: 1rem;
}

.rel-card {
  display: block;
  height:13rem;
  padding: 1.5rem;
  color: white;
  text-decoration: none;
  margin-bottom: 1.5rem;
  margin-right:var(--left);
  background-size: cover;
  background-position: center;
}

.rel-title {
  font-family: 'ClashGrotesk-Semibold';
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.rel-meta {
  font-family: 'ClashGrotesk-Regular';
  font-size: .8rem;
  opacity: .8;
}


.A1{
  background-image:
  linear-gradient(var(--red), var(--pink)),
  url("Image/image\ 1.png");
  background-size: cover;
}


.A2{
  background-image:
  linear-gradient(var(--dark-blue), var(--blue)),
  url("Image/image\ 1.png");
  background-size: cover;
}

.A3{
  background-image:linear-gradient(var(--yellow), var(--purple)),
  url("Image/image\ 1.png");
  background-size: cover;
}



footer{
  font-family:'ClashGrotesk-Regular', sans-serif;
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  padding-block: 3rem;
  padding-inline:var(--left);
  margin-top: 4rem;
  list-style: none;
  display:block;
  align-items: end;
  gap:1rem;
  backdrop-filter: blur(0.3rem);
  background: rgb(0, 0, 0,0.4);
  }

  @media (width>600px){
  footer{
  display:flex;
  justify-content: space-between;
  }
}
