@import url('fonts/css/array.css');
@import url('fonts/clash-grotesk.css');


@font-face {
  font-family: 'Array-Semibold';
  src: url('fonts/Array/Array-Semibold.woff2') format('woff2'),
       url('fonts/Array/Array-Semibold.woff') format('woff'),
       url('fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('fonts/Array/Array-Bold.woff2') format('woff2'),
       url('fonts/Array/Array-Bold.woff') format('woff'),
       url('fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


:root{
    font-size: 110%;
    background-color: rgb(240, 240, 240);
}

@media (width > 600px) {
    :root {
        font-size: 150%;
    }
}



header {
  background-size: cover;
  padding-bottom: 1rem;
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 50%;
  }
}




h1 {
  /* font-family: 'Array-Semibold'; */
    font-family: 'ClashGrotesk-Semibold';
  color:whitesmoke;
  font-size: 2.8rem;
  /* letter-spacing: -0.03em; */
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 8rem;
  /* text-decoration: underline; */
    /* text-decoration-color: #d1fdff; */
    /* text-decoration-thickness: 1.5rem;
    text-underline-offset: -1.15rem;
    text-decoration-skip-ink: none; */
}

@media (width>600px) {
  h1{
  font-size: 5rem;
  max-width: 75%;
  }
}


.nav{
  font-family:'ClashGrotesk-Regular', sans-serif;
  display: flex;
  justify-content: space-between; /* auto spacing */
  align-items: center;
  background: black;
  padding: 1rem;
}



/* links */

.nav a {
  color: rgb(220, 222, 227);
}

.data{
 font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: 1rem;
  padding-right: .2rem;
  padding-block: 2rem;
  list-style: none;
}


blockquote {
  font-family: 'Array-Semibold';
  font-size: 2rem;
  margin: 2rem;
  color: #000;
}

h2{
    font-family: 'Array-Semibold';
    color:#ef3232;
    font-size: 2.2rem;
    margin-top: 6rem;
    padding-inline: 1.5rem;
}

.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    font-family:'ClashGrotesk-Regular', sans-serif;
    color:#444444 ;
    padding-inline: 1.5rem;
    
    padding-block: .5rem;
    letter-spacing: .03em; 
}


@media (width>600px) {
  p{
    max-width: 65ch;
    margin: 0 auto; 
  }
}



em{
  font-family: 'ClashGrotesk-Semibold';
  font-style:normal;
}


blockquote {
  color: whitesmoke;
  line-height: 2rem;
  background-size: cover;
  background-position: center;
  
}

footer{
    font-family:'ClashGrotesk-Regular', sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
