@import url('fonts/css/array.css');
@import url('fonts/clash-grotesk.css');


@font-face {
  font-family: 'Array-Semibold';
  src: url('fonts/Array/Array-Semibold.woff2') format('woff2'),
       url('fonts/Array/Array-Semibold.woff') format('woff'),
       url('fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('fonts/Array/Array-Bold.woff2') format('woff2'),
       url('fonts/Array/Array-Bold.woff') format('woff'),
       url('fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff'),
       url('fonts/ClashGrotesk/ClashGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


:root{
    font-size: 110%;
    background-color: rgb(240, 240, 240);
    --left:3rem;
}

@media (width > 600px) {
    :root {
        font-size: 135%;
    }
}


header {
      background-position: center;
    background-size: cover;
    background-position-y: 90%;
  /* background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 4rem; */
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 50%;
  }
}




h1 {
  font-family: 'ClashGrotesk-Semibold';
  color:whitesmoke;
  font-size: 3.2rem;
  letter-spacing: -0.03em;
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 8rem;
}

@media (width>600px) {
  h1{
  font-size: 5rem;
  max-width: 75%;
  padding-inline: 2rem;
  }
}

.nav{
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size:.9rem;
  display: grid;
  text-decoration: underline white;
  align-items: center;
  background: black;
  padding: 1rem;
  gap: .4rem;  
}

@media (width>600px){
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 2rem;
}
}


/* links */
.nav a {
  color: rgb(220, 222, 227);
  padding-block: 1rem;
}

.nav a:hover {
  color: rgb(135, 244, 242);
  text-decoration: underline rgb(135, 244, 242);
}


.data{
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: .8rem;
  display: grid;
  padding-left:1.5rem;
  padding-block: 1.5rem;
  letter-spacing: .04em; 
  line-height: 1.5rem;
  list-style: none;
}

@media (width>600px){
  .data{
  font-size: 1rem;
  display: flex;
  gap: 1.5rem;
  padding-left:var(--left);
}
}


.written{
  opacity: 40%;
  padding-right: .2rem;
}

h2{
  font-family:'ClashGrotesk-Semibold', sans-serif;
  color:#000000;
  font-size: 2.2rem;
  margin-top: 6rem;
  padding-left: 1.5rem;
}


.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .7rem;
    margin-top: .5rem;
    display: block;
}

p {
    font-family:'ClashGrotesk-Regular', sans-serif;
    color:#444444 ;
    margin-inline: 1.3rem;
    margin-block: 2rem;
    line-height: 1.3rem;
    letter-spacing: .04em; 
}


@media (width>600px) {
  p{
    margin-block: 2rem;
    max-width: 57ch;
    line-height: 1.7rem;
    padding-left:var(--left);
  }
}


blockquote {
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  margin:var(--left);
  padding-block: .3rem;
}

@media (width>600px){
  blockquote{
    max-width: 30ch;
    margin-block: 2rem;
  }
}

.quote {
  color: whitesmoke;
  line-height: 2rem;
}



footer{
  font-family:'ClashGrotesk-Regular', sans-serif;
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  padding-block: 4rem;
  padding-left:var(--left);
  margin-top: 4rem;
  list-style: none;
  display:grid;
  gap:1rem;
  }
