:root{
    --bg-color: rgb(240, 240, 240)e;
    --fg-color: rgb(0, 0, 0);
    font-size: 125%;
    
}

body{
    font-size: 5rem;
    padding: 2.5rem;
    background-color: var(--bg-color);
    color: var(--fg-color);
}


li {
  font-family:'Clash Grotesk', sans-serif;
  padding-right: .2rem;
  padding-block: .2rem;
  display: inline-flex;
}
