
:root{
  font-size: 100%;
  --bg-color: rgb(240, 240, 240);
  --fg-color: rgb(0, 0, 0);
  --pink:rgba(255, 169, 215, 0.2);
  --red:rgba(255, 79, 79, 0.3);
  --dark-blue:rgb(63, 79, 255, 0.3);
  --blue:rgb(79, 175, 230, 0.3);
  --yellow:rgba(255, 251, 0, 0.3);
  --purple:rgba(52, 95, 149, 0.3);
}






h1{
  color: var(--fg-color);
  font-size: 3rem;
}

@media (width>600px) {
  h1{
    font-size:6rem;
    max-width: 90%;
  padding-inline: 2rem;

  }
}

/* 
p{
  font-family: 'ClashGrotesk-Regular';
  font-size: 2rem;
  padding: 2.5rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
  line-height: 2.5rem; 
} */


.list {
  font-family: 'ClashGrotesk-Semibold';
  font-size: 2rem;
  color: whitesmoke;
  display: inline-flex;
  list-style: none;
  width:100%;
  margin-block:2rem;
  padding-inline: 1rem;
  padding-top:1rem;
}


/* .metadata{
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: .8rem;
  display: grid;
  align-items: end;
  padding-left:1.5rem;
  padding-block: 1.5rem;
  letter-spacing: .04em; 
  line-height: 1.5rem;
  list-style: none;
} */



.A1{
  background-image:
  linear-gradient(var(--red), var(--pink)),
  url("Image/image\ 1.png");
  background-size: cover;
  height: 20rem;
}


.A2{
  background-image:
  linear-gradient(var(--dark-blue), var(--blue)),
  url("Image/image\ 1.png");
  background-size: cover;
  height: 20rem;
}

.A3{
  background-image:linear-gradient(var(--yellow), var(--purple)),
  url("Image/image\ 1.png");
  background-size: cover;
  height: 20rem;
}




