
:root{
  --bg-color: rgb(240, 240, 240);
  --fg-color: rgb(0, 0, 0);
  --pink:rgba(255, 169, 215, 0.2);
  --red:rgba(255, 79, 79, 0.3);
  --dark-blue:rgb(63, 79, 255, 0.3);
  --blue:rgb(79, 175, 230, 0.3);
  --yellow:rgba(255, 251, 0, 0.3);
  --purple:rgba(52, 95, 149, 0.3);

  --pink-strong:rgba(255, 169, 215, 0.7);
  --red-strong:rgba(255, 79, 79, 0.7);
  --dark-blue-strong:rgb(63, 79, 255, 0.7);
  --blue-strong:rgb(79, 175, 230, 0.7);
  --yellow-strong:rgba(255, 251, 0);
  --purple-strong:rgba(52, 95, 149, 0.5);
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
  linear-gradient(rgba(209, 175, 175, 0.3), rgba(215, 206, 201, 0.3)),
  url("../Image/image 1.png");
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  filter: blur(2rem);
  z-index: -1;
}


.layout {
  padding: 2rem;
  overflow: hidden;
}


@media (width>600px) {
  .layout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
  }

  .layout > header {
    flex: 2; 
  }

  .layout > nav {
    flex: 2; 
  }

.layout nav ol {
  margin: 0;
  padding: 0;
}
}


/* title mask styling */
.masked {
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: block;
  position: relative;
  opacity: 0;
  animation-name: floatIn;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* title animation */
.m1 {
  font-size: 6rem;
  background-image:
    linear-gradient(var(--red-strong), var(--pink-strong)),
    url("../Image/image 1.png");
  transform: translate(-2.5rem, 1.25rem);
  left: -1.5rem;
  animation-delay: .5s;
}

.m2 {
  font-size: 3.2rem;
  background-image:
    linear-gradient(var(--dark-blue-strong), var(--blue-strong)),
    url("../Image/image 1.png");
  margin-top: -3.5rem; 
  left: 7rem;
  transform: translate(10rem, 2rem);
  animation-delay: .5s;
}

.m3 {
  font-size: 4.5rem;
  background-image:
    linear-gradient(var(--yellow-strong), var(--purple-strong)),
    url("../Image/image 1.png");
  margin-top: -3rem;
  transform: translate(-1.875rem, 3.75rem);
  animation-delay: .5s;
}

@keyframes floatIn {
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }

}


@media (width>600px){
  .m1{
  font-size: calc(6rem * 2); 
  }

  .m2{
    font-size: calc(3.2rem * 2);
    margin-top: -7rem; 
    left: 15rem;
  }

  .m3{
    font-size: calc(4.5rem * 2); 
    margin-top: -6rem;
    left: 1rem;
  }
}




.list {
  font-family: 'ClashGrotesk-Semibold';
  font-size: 2rem;
  color: whitesmoke;
  list-style: none;
  width:100%;
  margin-block:2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
  padding-inline: 1rem;
  padding: 1.5rem;
}



.metadata {
  font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: .8rem;
}



.A1{
  background-image:
  linear-gradient(var(--red), var(--pink)),
  url("Image/image\ 1.png");
  background-size: cover;
}


.A2{
  background-image:
  linear-gradient(var(--dark-blue), var(--blue)),
  url("Image/image\ 1.png");
  background-size: cover;
}

.A3{
  background-image:linear-gradient(var(--yellow), var(--purple)),
  url("Image/image\ 1.png");
  background-size: cover;
}



/* colophon */
details {
  font-family:'ClashGrotesk-Regular', sans-serif;
  margin-bottom: 2rem; 
}

summary {
  background-color:var( --fg-color);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

summary:hover {
  background-color: var(--blue);
}

details[open] summary {
  background-color: darkslateblue; /* Change color when open */
}




