
:root{
    --bg-color: rgb(226, 226, 226);
    --fg-color: rgb(0, 0, 0);
    font-size: 125%;
    
}


body{
  font-family: 'ClashGrotesk-Regular';
  font-size: 3rem;
  padding: 2.5rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
}


h1{
  padding-block: 2rem;
}

li {
  font-family: 'Array-Semibold';
  font-size: 5rem;
  color: whitesmoke;
  display: inline-flex;
  list-style: none;
  width:100%;
  margin-block:2rem;
  padding-inline: 1rem;
}

.A1{
  background-image:
  linear-gradient(rgba(255, 150, 206, 0.5), rgba(255, 79, 79, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  background-position: center;
}


.A2{
  background-image:
  linear-gradient(rgba(0, 12, 243, 0.5), rgba(48, 149, 243, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  background-position: center;
}

.A3{
  background-image:
  linear-gradient(rgba(11, 177, 11, 0.5), rgba(18, 202, 186, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  background-position: center;
}




