
:root{
    --bg-color: rgb(240, 240, 240);
    --fg-color: rgb(0, 0, 0);
    font-size: 125%;
    
}


body{
  font-family: 'ClashGrotesk-Regular';
  font-size: 3rem;
  padding: 2.5rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

p{
    line-height: 3rem; 
    font-size: 2rem;
}

h1{
  color: var(--fg-color);
  font-size: 8rem;
}

@media (width>600px) {
  h1{
    max-width: 90%;
  padding-inline: 2rem;

  }
}

li {
  font-family: 'ClashGrotesk-Semibold';
  font-size: 5rem;
  color: whitesmoke;
  display: inline-flex;
  list-style: none;
  width:100%;
  margin-block:2rem;
  padding-inline: 1rem;
}


.A {
  background-size: cover;
  background-position: center;
  height: 20rem;
}


.A1{
  background-image:
  linear-gradient(rgba(255, 150, 206, 0.5), rgba(255, 79, 79, 0.5)),
  url("../Image/image 1.png");
}


.A2{
  background-image:
  linear-gradient(rgba(0, 12, 243, 0.5), rgba(48, 149, 243, 0.5)),
  url("../Image/image 1.png");
}

.A3{
  background-image:
  linear-gradient(rgba(11, 177, 11, 0.5), rgba(18, 202, 186, 0.5)),
  url("../Image/image 1.png");
}




