:root{
  --dark-blue:rgb(63, 79, 255, 0.3);
  --blue:rgba(82, 185, 245, 0.39);
  --solid-blue:rgba(22, 161, 242);
}


header {
  background-image:
  linear-gradient(var(--dark-blue), var(--blue)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 30%;
  }
}

blockquote {
  background-image:
  linear-gradient(var(--dark-blue), var(--blue)),
  url("../Image/image 1.png");
}


em{
  text-decoration: underline;
  text-decoration-color: var(--blue); 
  text-decoration-thickness: .3rem;
  text-underline-offset: -.05rem;
  text-decoration-skip-ink: none;
}


.link{
  color:rgba(22, 161, 242);
  text-decoration: solid underline;
  text-decoration-color: var(--solid-blue); 
  text-decoration-thickness: 0.1rem;
  text-decoration-skip-ink: none;
}