

/* header */
header{
    background-image:
  linear-gradient(rgba(0, 98, 255, 0.5), rgba(22, 161, 242, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
}


@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 50%;
  }
}




h1 {
  font-family: 'Array-Semibold';
  color:whitesmoke;
  font-size: 4rem;
  /* letter-spacing: -0.03em; */
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 0.3rem;
  padding-top: 6rem;
}


.nav{
  font-family:'ClashGrotesk-Regular', sans-serif;
  display: flex;
  justify-content: space-between; /* auto spacing */
  align-items: center;
  background: black;
  padding: 1rem;
}



/* links */

.nav a {
  color: rgb(220, 222, 227);
}

.data{
  font-family: 'ClashGrotesk-Regular';
  font-size: 1rem;
  padding-right: .2rem;
  padding-block: 2rem;
  list-style: none;

}


blockquote {
  font-family: 'Array-Semibold';
  font-size: 2rem;
  margin: 2rem;
  color: #000;
}

h2 {
    font-family: 'Array-Semibold';
    color:#0c1fef;
    font-size: 2.2rem;
    margin-top: 6rem;
    padding-inline: 1.5rem;
}

body {
  overflow-x: hidden;
}


.name{
    font-family: 'ClashGrotesk-Regular';
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
   font-family: 'ClashGrotesk-Regular';
    padding-inline: 1.5rem;
    padding-block: .5rem;
    letter-spacing: .03em; 
}

em{
  font-family:'ClashGrotesk-Semibold';
  font-style:normal;
}


blockquote {
  color: whitesmoke;
  line-height: 2rem;
  background-image:
  linear-gradient(rgba(31, 172, 253, 0.5), rgba(51, 11, 249, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  background-position: center;
  
}

footer{
    font-family: 'ClashGrotesk-Regular';
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
