

/* header */
header{
    background-image:
  linear-gradient(rgba(0, 98, 255, 0.5), rgba(22, 161, 242, 0.5)),
  url("../Image/image 1.png");
}



blockquote {

  background-image:
  linear-gradient(rgba(31, 172, 253, 0.5), rgba(51, 11, 249, 0.5)),
  url("../Image/image 1.png");
  
}