


header {
  background-image:
  linear-gradient(rgba(0, 98, 255, 0.5), rgba(22, 161, 242, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 30%;
  }
}


blockquote {
  background-image:
  linear-gradient(rgba(31, 172, 253, 0.5), rgba(51, 11, 249, 0.5)),
  url("../Image/image 1.png");
}