@import url('fonts/css/array.css');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://api.fontshare.com/v2/css?family=array@400,500,600,700&display=swap');



@font-face {
  font-family: 'Array-Bold';
  src: url('../direction-2/fonts/Array/Array-Bold.woff2') format('woff2'),
       url('../direction-2/fonts/Array/Array-Bold.woff') format('woff'),
       url('../direction-2/fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
}


:root {
    font-family: 'Garamond', serif;
    font-size: 125%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.839);
}


.S {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 8rem;
    color: transparent;
    -webkit-text-stroke: .2rem black;
}


.T {
  font-family: 'Array-Bold', sans-serif;
  color: transparent;
  font-size: 7rem;
  -webkit-text-stroke: .09rem black;
  margin-left: -1rem;
}


.Y{
    font-family: 'Imperial Script', cursive;
    font-size: 10rem;
    font-weight: 200;
    margin-left: -1rem;
}


.L {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke: .1rem black;
}

.E{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 4.5rem;
    font-weight: 100;
    color: black;
    margin-left: -.5rem;
}

.four-letter {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.2rem;
    display:block;
}

.script-1{
    font-family: 'Imperial Script', cursive;
    font-weight: 100;
    font-size: 2.5rem;
    margin-right: .5rem;
    margin-left: -0.5rem;

}

.nav li {
  font-family:'Clash Grotesk', sans-serif;
  padding-right: .2rem;
  padding-block: .2rem;
  display: inline-flex;
}



/* links */
.nav {
  background-color: black;
}

.nav a {
  color: rgb(220, 222, 227);
}

.data{
  font-family: 'Space Grotesk', sans-serif;
  padding-right: .2rem;
  padding-block: .2rem;
}

.script-2{
    font-family: 'Imperial Script', cursive;
    font-weight: 100;
    font-size: 2.5rem;
    margin-right: .2rem;

}

h1 {
  padding: 1rem;
  border-bottom: .1rem solid rgb(29,29,29);
  width: fit-content;
  margin-left: 1rem;
}


h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    color: rgb(220, 222, 227);
    background-color:rgb(0, 0, 0);
    padding-block: 1rem;
    padding-inline: .5rem;
    margin-top: 5.5rem;
    position: sticky;
    top: 0;  
    z-index: 5; 
}


blockquote {
    font-size: 2rem;
  border-left: 3px solid #000;
  margin: 2rem;
  color: #000;
}


.name{
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    padding-inline: 1.5rem;
    padding-block: .5rem;
}



footer{
    color: rgb(0, 0, 0);
    border-top: .05rem solid rgb(29,29,29);
    padding: 1.5rem; 
}

a{
    color:#1500ff;

}
