:root {

    font-size: 125%;
    width: 100%;
    background-color: blue;
}


p{
       max-width: 75ch; 
       padding-inline: 5rem;
   margin-block: 1.8rem;
}

h1{
    font-weight:500;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 500;
    /* border-inline-start-color: black;
	border-inline-start-style: solid;
	border-inline-start-width: 0.25rem; */
    background-color: rgb(240, 238, 237, 0.9);
    padding-inline: 10rem;
    padding-block: 1rem;
    padding-left:1rem;
    inline-size: 80%;
	inset-block-start: 1rem;
	inset-inline-start: 3rem;
	position: sticky;

}


footer { 
    color: rgb(238, 238, 238);
    text-align:right;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    color: lightgray;
    padding-inline: 10rem;
    padding-block: 5rem;
    margin-inline: -10rem;
    margin-top: 5rem;
}



