
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&display=swap');
@import url('https://api.fontshare.com/v2/css?family=array@400,500,600,700&display=swap');


@font-face {
  font-family: 'Array';
  src: url('../fonts/Array-Wide.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Array';
  src: url('../fonts/Array-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Array';
  src: url('../fonts/Array-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Array';
  src: url('../fonts/Array-Bold.woff2') format('woff2');
  font-weight: 700;
}



:root{
    font-size: 125%;
    background-color: rgb(218, 218, 218);
}


h1 {
  font-family: 'Array' ; font-weight: 700;
}

.style {
  font-size: 4.5rem;
  letter-spacing: -0.03em;
  color:#1500ff;
  font-weight: 700;
  background-color: rgb(241, 169, 255);
  padding-block: 1rem;
  padding-left: 1rem;
}



.four-letter {
  font-size: 2rem;
  color: rgb(241, 169, 255);
}

li {
  /* margin: 0; */
  padding: .2rem;
}


.quote{
    color:#1500ff;
    font-size: 1.3rem;
    margin-block: 2rem;
}


h2 {
    font-family: 'Array';
    font-size: 2rem;
    margin-top: 5.5rem;
    margin-left: 1rem;
}

body {
  overflow-x: hidden;
}


.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    font-family:'Clash Grotesk', sans-serif;
    padding-inline: 1.5rem;
    padding-block: .5rem;
}



footer{
    font-family:'Clash Grotesk', sans-serif;
    background-color: rgb(241, 169, 255);
    padding: 1.5rem;
  }
