@import url('fonts/css/array.css');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&display=swap');


@font-face {
  font-family: 'Array-Semibold';
  src: url('../direction-2/fonts/Array/Array-Bold.woff2') format('woff2'),
       url('../direction-2/fonts/Array/Array-Semibold.woff') format('woff'),
       url('../direction-2/fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('../direction-2/fonts/Array/Array-Bold.woff2') format('woff2'),
       url('../direction-2/fonts/Array/Array-Bold.woff') format('woff'),
       url('../direction-2/fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
}



:root{
    font-size: 125%;
    background-color: rgb(222, 236, 222);
}

/* header */
h1 {
  font-family: 'Array-Bold';
}

.style {
  font-size: 4.5rem;
  letter-spacing: -0.03em;
  color:#1500ff;
  font-weight: 700;
  background-color: rgb(241, 169, 255);
  padding-left: 1rem;
  margin-bottom: 0.3rem;
}

.four-letter {
  font-size: 2rem;
  color: rgb(241, 169, 255);
  margin-top: 0; 
}




.nav li {
  font-family:'Clash Grotesk', sans-serif;
  padding-right: .2rem;
  padding-block: .2rem;
  display: inline-flex;
}



/* links */
.nav {
  background-color: black;
}

.nav a {
  color: rgb(220, 222, 227);
}


.data{
   font-family:'Clash Grotesk', sans-serif;
  padding-right: .2rem;
  padding-block: .2rem;
}


blockquote {
  font-family: 'Array-Semibold';
  font-size: 2rem;
  margin: 2rem;
  color: #000;
}

h2 {
    font-family: 'Array-Bold';
    color:#1500ff;
    font-size: 2rem;
    margin-top: 6rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

body {
  overflow-x: hidden;
}


.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    font-family:'Clash Grotesk', sans-serif;
    padding-inline: 1.5rem;
    padding-block: .5rem;
}



footer{
    font-family:'Clash Grotesk', sans-serif;
    background-color: rgb(241, 169, 255);
    padding: 1.5rem;
  }
