
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&display=swap');
@import url('https://api.fontshare.com/v2/css?family=array@400,500,600,700&display=swap');

@font-face {
  font-family: 'Array-Bold';
  src: url('fonts/Array-Bold.woff2') format('woff2'),
       url('fonts/Array-Bold.woff') format('woff'),
       url('fonts/Array-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


:root{
    font-size: 125%;
    background-color: rgb(218, 218, 218);
}

.star {
  width: 0;
  height: 0;
  margin: 50px;
  position: relative;
  border-right: 50px solid transparent;
  border-bottom: 35px solid gold;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  left: -50px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid gold;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
}

.star:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: -65px;
  border-right: 65px solid transparent;
  border-bottom: 45px solid gold;
  border-left: 65px solid transparent;
  transform: rotate(70deg);
}



h1 {
  font-family: 'Array';
}

.style {
  font-size: 5rem;
  color:#1500ff;
  font-weight: 700;
  background-color: rgb(241, 169, 255);
  padding: 1rem;
  width: 100vw;
  margin: 0 calc(50% - 50vw); 
  padding: 1rem; 
}

.four-letter {
  font-size: 2rem;
  color: rgb(241, 169, 255);
}

li{
    font-family: 'Array';
    font-family:'Clash Grotesk', sans-serif;
    margin: 0 calc(50% - 50vw); 
    padding: .2rem;
}


.quote{
    color:#1500ff;
    font-size: 1.3rem;
    margin-block: 2rem;
}


h2 {
    font-family: 'Array';
    font-size: 2rem;
    margin-top: 5.5rem;
    margin-left: 1rem;
}


.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    font-family:'Clash Grotesk', sans-serif;
    padding-inline: 1.5rem;
    padding-block: .5rem;
}



footer{
    font-family:'Clash Grotesk', sans-serif;
    background-color: rgb(241, 169, 255);
    width: 100vw;
    margin: 0 calc(50% - 50vw); 
    padding: 1.5rem; 
}

