
:root{
    font-size: 110%;
    background-color: rgb(226, 226, 226);
}

/* header */
header{
  background-image:linear-gradient(rgba(255, 251, 0, 0.5), rgba(79, 255, 161, 0.5)),
  url("../Image/image 1.png");
}


/* links */

/* .nav a {
  color: rgb(220, 222, 227);
}
 */



blockquote {
  background-image:
  linear-gradient(rgba(20, 109, 26, 0.5), rgba(176, 105, 39, 0.5)),
  url("../Image/image 1.png");
}
