:root{
--yellow:rgba(255, 251, 0, 0.3);
--purple:rgba(52, 95, 149, 0.3);
--solid-green:rgba(32, 255, 69, 0.953);
}



/* header */
header{
  background-image:linear-gradient(var(--yellow), var(--purple)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
  linear-gradient(var(--purple), rgba(235, 235, 235, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
  filter: blur(10rem);
  z-index: -1;
}


blockquote {
  background-image:
  linear-gradient(rgba(52, 95, 149, 0.5), rgba(150, 148, 31, 0.5)),
  url("../Image/image 1.png");
}


em{
  text-decoration: underline;
  text-decoration-color: var(--yellow); 
  text-decoration-thickness: .3rem;
  text-underline-offset: -.05rem;
  text-decoration-skip-ink: none;
}


.link{
  color:rgb(36, 224, 36);
  text-decoration: dotted underline;
  text-decoration-color: var(--solid-green); 
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
}