:root{
--yellow:rgba(255, 251, 0, 0.3);
--purple:rgba(52, 95, 149, 0.3);
--solid-green:rgb(25, 160, 25);
--yellow-strong:rgba(255, 227, 68, 0.6);
--yellow-link:rgb(152, 131, 13);
}



/* header */
header{
  background-image:
  linear-gradient(var(--yellow), var(--purple)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}


blockquote {
  background-image:
  linear-gradient(rgba(52, 95, 149, 0.5), rgba(150, 148, 31, 0.5)),
  url("../Image/image 1.png");
}


em{
  text-decoration: underline;
  text-decoration-color: var(--yellow-strong); 
  text-decoration-thickness: .4rem;
  text-underline-offset: -0.1rem;
  text-decoration-skip-ink: none;
}


.link{
  color: var(--yellow-link);
  text-decoration: solid underline;
  text-decoration-color: var(--yellow-link); 
  text-decoration-thickness: 0.1rem;
  text-decoration-skip-ink: none;
}