:root{
  --pink:rgba(255, 169, 215, 0.2);
  --red:rgba(255, 79, 79, 0.2);
  --blush:rgb(241, 184, 195);
  --link:rgb(226, 110, 110);
}


header {
  background-image:
  linear-gradient(var(--red), var(--pink)),
  url("../Image/image 1.png");
  background-size: cover;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

@media (width>600px) {
  header {
    background-position: center;
    background-size: cover;
    background-position-y: 30%;
  }
}

blockquote {
  background-image:
  linear-gradient(var(--red), var(--pink)),
  url("../Image/image 1.png");
}


em{
  text-decoration: underline;
  text-decoration-color: var(--blush); 
  text-decoration-thickness: .3rem;
  text-underline-offset: -.05rem;
  text-decoration-skip-ink: none;
}


.link{
  color:var(--link);
  text-decoration: underline;
  text-decoration-color:var(--link);
  text-decoration-thickness: 0.1rem;
  text-decoration-skip-ink: none;
}