@import url('fonts/css/array.css');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sixtyfour&display=swap');
@import url('../fonts/clash-grotesk.css');


@font-face {
  font-family: 'Array-Semibold';
  src: url('../fonts/Array/Array-Semibold.woff2') format('woff2'),
       url('../fonts/Array/Array-Semibold.woff') format('woff'),
       url('../fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Array-Bold';
  src: url('../fonts/Array/Array-Bold.woff2') format('woff2'),
       url('../fonts/Array/Array-Bold.woff') format('woff'),
       url('../fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('../fonts/ClashGrotesk/ClashGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/ClashGrotesk/ClashGrotesk-Regular.woff') format('woff'),
       url('../fonts/ClashGrotesk/ClashGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('../fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('../fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff'),
       url('../fonts/ClashGrotesk/ClashGrotesk-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}



:root{
    font-size: 110%;
    background-color: rgb(226, 226, 226);
}

/* header */
header{
  background-image: url(../Image/image\ 1.png);
  background-size: cover;
  padding-bottom: 1rem;
}


h1 {
  font-family: 'Array-Semibold';
  color:whitesmoke;
  font-size: 2.3rem;
  /* letter-spacing: -0.03em; */
  font-weight: 300;
  padding-left: 1rem;
  margin-bottom: 0.3rem;
  padding-top: 6rem;
}



.nav{
  font-family:'ClashGrotesk-Regular', sans-serif;
  background-color: black;
  padding-right: 1rem;
  padding-block: .2rem;
  display: inline-flex;
}



/* links */

.nav a {
  color: rgb(220, 222, 227);
}

.data{
 font-family:'ClashGrotesk-Regular', sans-serif;
  font-size: 1rem;
  padding-right: .2rem;
  padding-block: 2rem;
  list-style: none;
}


blockquote {
  font-family: 'Array-Semibold';
  font-size: 2rem;
  margin: 2rem;
  color: #000;
}

h2{
    font-family: 'Array-Semibold';
    color:#ef3232;
    font-size: 2.2rem;
    margin-top: 6rem;
    padding-inline: 1.5rem;
}

.name{
    font-family:'Clash Grotesk', sans-serif;
    font-size: .8rem;
    margin-top: .8rem;
    display: block;
}

p {
    font-family:'ClashGrotesk-Regular', sans-serif;
    padding-inline: 1.5rem;
    padding-block: .5rem;
}

em{
  font-family: 'ClashGrotesk-Semibold';
  font-style:normal;
}


blockquote {
  color: whitesmoke;
  line-height: 2rem;
  background-image:
  linear-gradient(rgba(255, 150, 206, 0.5), rgba(255, 79, 79, 0.5)),
  url("../Image/image 1.png");
  background-size: cover;
  background-position: center;
  
}

footer{
    font-family:'ClashGrotesk-Regular', sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
  }
