


header {
  background-image: url(../Image/image\ 1.png);
}



blockquote {
  background-image:
  linear-gradient(rgba(255, 150, 206, 0.5), rgba(255, 79, 79, 0.5)),
  url("../Image/image 1.png");
}


em{
  color: #b42a2a;
}
